article ul {
    list-style: disc inside none;
}

article ul li {
    padding-bottom: 4px;
}

article h1 {
    font: 2em "Cabin Condensed", Oxygen, Arial, sans-serif;
    line-height: 2em;
    padding-bottom: .5em;
}

article h2 {
    font: 1.5em "Cabin Condensed", Oxygen, Arial, sans-serif;
    line-height: 1.5em;
    padding-bottom: .25em;
}

article p {
    font-size: 1em;
    line-height: 1.3em;
    padding-bottom: 1em;
    color: #1f1f1f;
}
