article ul {
    list-style: disc inside none;
}

article ul li {
    padding-bottom: 0.2em;
}

article ul li ul {
    list-style: none;
    margin-left: 2em;
}

article ul li ul li {
    font-size: 0.75em;
    line-height: 1.1em;
    padding-bottom: 0;
}

article h1 {
    font: 2em "Cabin Condensed", Oxygen, Arial, sans-serif;
    line-height: 2em;
    padding-bottom: .5em;
}

article section {
    margin-bottom: 1em;
}

article section h1 {
    font: 1.5em "Cabin Condensed", Oxygen, Arial, sans-serif;
    line-height: 1.5em;
    padding-bottom: .25em;
}

article section h2 {
    font: 0.8em "Lucida Console", "Monaco", "Courier New", monospace;;
    line-height: 1.0em;
    padding-bottom: .25em;
}

article p {
    font-size: 1em;
    line-height: 1.3em;
    padding-bottom: 1em;
    color: #1f1f1f;
}

pre {
    font: 0.7em "Lucida Console", "Monaco", "Courier New", monospace;
    color: #222222;
    background-color: #f2f2f2;
    padding: 1em 2em;
}
