/* CSS stolen from LibreOffice export function. */

@page { }

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show
}

td, th {
	vertical-align: top;
	font-size: 10pt;
}

h1, h2, h3, h4, h5, h6 {
	clear: both
}

ol, ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

<!-- "li span.odfLiEnd" - IE 7 issue-->

li span. {
	clear: both;
	line-height: 0;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

span.footnodeNumber {
	padding-right: 1em;
}

span.annotation_style_by_filter {
	font-size: 95%;
	font-family: Arial;
	background-color: #fff000;
	margin: 0;
	border: 0;
	padding: 0;
}

* {
	margin: 0;
}

.ta1 {
	writing-mode: lr-tb;
}

.Default {
	font-family: Liberation Sans;
}

.ce51 {
	font-family: Liberation Sans;
    border-width: 0.0133cm;
    border-style: solid;
    border-color: #000000;
    text-align: center ! important;
    font-weight: bold;
}

.ce52 {
	font-family: Liberation Sans;
	border-bottom-width: 0.0133cm;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-left-width: 0.0133cm;
	border-left-style: solid;
	border-left-color: #000000;
	border-right-style: none;
	border-top-width: 0.0133cm;
	border-top-style: solid;
	border-top-color: #000000;
	text-align: left ! important;
	font-weight: bold;
}

.ce53 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-width: 0.0133cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-style: none;
    border-top-style: none;
    font-weight: bold;
}

.ce54 {
	font-family: Liberation Sans;
    background-color: #e6e6e6;
    border-width: 0.0133cm;
    border-style: solid;
    border-color: #000000;
    text-align: center ! important;
    font-weight: bold;
}

.ce55 {
	font-family: Liberation Sans;
    border-bottom-style: none;
    border-left-width: 0.0133cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-style: none;
    border-top-style: none;
    vertical-align: middle;
    text-align: center ! important;
}

.ce56 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-width: 0.0133cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-style: none;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
    font-weight: bold;
}

.ce57 {
	font-family: Liberation Sans;
    background-color: #e6e6e6;
    border-width: 0.0133cm;
    border-style: solid;
    border-color: #000000;
    vertical-align: middle;
    text-align: center ! important;
    font-weight: bold;
}

.ce58 {
	font-family: Liberation Sans;
    border-width: 0.0133cm;
    border-style: solid;
    border-color: #000000;
    vertical-align: middle;
    text-align: center ! important;
}

.ce59 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-width: 0.0133cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-style: none;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: left ! important;
    font-weight: bold;
}

.ce60 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-width: 0.0133cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-style: none;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
    vertical-align: top;
    text-align: left ! important;
    font-weight: bold;
}

.ce61 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
}

.ce62 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}

.ce63 {
	font-family: Liberation Sans;
    vertical-align: middle;
    text-align: center ! important;
}

.ce64 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: right ! important;
}

.ce65 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0133cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
    vertical-align: top;
    text-align: left ! important;
}

.ce66 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    font-weight: bold;
}

.ce67 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
    font-weight: bold;
}

.ce68 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
}

.ce69 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0133cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
}

.ce70 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: right ! important;
    font-weight: normal;
}

.ce71 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-width: 0.0133cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-style: none;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
    vertical-align: top;
    font-weight: bold;
}

.ce72 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0133cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
    vertical-align: top;
    text-align: left ! important;
}

.ce73 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0133cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
}

.ce74 {
	font-family: Liberation Sans;
    border-bottom-style: none;
    border-left-width: 0.0133cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-style: none;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
    font-weight: bold;
}

.ce75 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-width: 0.0133cm;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-style: none;
    border-top-style: none;
    vertical-align: middle;
    text-align: left ! important;
}

.ce76 {
	font-family: Liberation Sans;
    background-color: #e6e6e6;
    border-width: 0.0133cm;
    border-style: solid;
    border-color: #000000;
    font-weight: bold;
}

.ce77 {
	font-family: Liberation Sans;
    border-width: 0.0133cm;
    border-style: solid;
    border-color: #000000;
    font-weight: bold;
}

.ce78 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0133cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
    vertical-align: bottom;
    text-align: left ! important;
}

.ce79 {
	font-family: Liberation Sans;
    border-bottom-style: none;
    border-left-style: none;
    border-right-width: 0.0133cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
}

.ce80 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0133cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
}

.ce81 {
	font-family: Liberation Sans;
    border-width: 0.0133cm;
    border-style: solid;
    border-color: #000000;
}

.ce82 {
	font-family: Liberation Sans;
    border-width: 0.0133cm;
    border-style: solid;
    border-color: #000000;
    text-align: right ! important;
}

.ce83 {
	font-family: Liberation Sans;
    border-width: 0.0133cm;
    border-style: solid;
    border-color: #000000;
    vertical-align: middle;
    text-align: left ! important;
}

.ce84 {
	font-family: Liberation Sans;
    border-bottom-style: none;
    border-left-style: none;
    border-right-width: 0.0133cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
    font-weight: bold;
}

.ce85 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0133cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
    font-weight: bold;
}

.ce86 {
	font-family: Liberation Sans;
    border-width: 0.0133cm;
    border-style: solid;
    border-color: #000000;
    text-align: right ! important;
}

.ce87 {
	font-family: Liberation Sans;
    background-color: transparent;
    border-width: 0.0133cm;
    border-style: solid;
    border-color: #000000;
}

.ce88 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0133cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
    text-align: right ! important;
}

.ce89 {
	font-family: Liberation Sans;
    border-bottom-style: none;
    border-left-style: none;
    border-right-width: 0.0133cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-style: none;
}

.ce90 {
	font-family: Liberation Sans;
    border-bottom-width: 0.0133cm;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-style: none;
    border-right-width: 0.0133cm;
    border-right-style: solid;
    border-right-color: #000000;
    border-top-width: 0.0133cm;
    border-top-style: solid;
    border-top-color: #000000;
}

.ce91 {
	font-family: Liberation Sans;
}

.ce92 {
	font-family: Liberation Sans;
    background-color: transparent;
}

.co10 {
	width: 0.9429in;
}

.co11 {
	width: 1.1043in;
}

.co12 {
	width: 0.889in;
}

.co13 {
	width: 1.0929in;
}

.co2 {
	width: 0.8252in;
}

.co3 {
	width: 0.8146in;
}

.co4 {
	width: 1.0291in;
}

.co5 {
	width: 0.761in;
}

.co6 {
	width: 0.7181in;
}

.co7 {
	width: 0.75in;
}

.co8 {
	width: 0.7075in;
}

.co9 {
	width: 0.6862in;
}

.ro10 {
	height: 0.5075in;
}

.ro2 {
	height: 0.1756in;
}

.ro3 {
	height: 0.1681in;
}

.ro4 {
	height: 0.3311in;
}

.ro5 {
	height: 0.2484in;
}

.ro6 {
	height: 0.3417in;
}

.ro7 {
	height: 0.2in;
}

.ro8 {
	height: 0.2382in;
}

.ro9 {
	height: 0.178in;
}

<!-- ODF styles with no properties representable as CSS -->
{ }
